body {font-family: "Arial", sans-serif; } 

section {     
    text-align: center; } 

.game--container{     
    display: grid;  
    color: black;   
    grid-template-columns: repeat(3, auto);     
    width: 306px;     
    margin: 50px auto; } 
    
.cell {     
    font-family: "Permanent Marker", cursive;     
    width: 100px;     
    height: 100px;     
    box-shadow: 0 0 0 1px #333333;     
    border: 1px solid #333333;     
    cursor: pointer; 
    line-height: 100px;     
    font-size: 60px; }